<li>
    <div class="post-comments-list">
        <ul id="post-comments-<%= post._id %>">
            <% for (comment of post.comments){%>
                
            <p>
                <% if(locals.user && locals.user.id==post.user._id){ %>
                    <div>
                            
                        <a href="/comments/destroy/<%= comment.id %> "> delete comment</a>
                    </div>

                    <% } %>
                <%= comment.content %>
                <br>
                <small>
                    <%= comment.user.name %>
                </small>
            </p>    
            <%} %>
        </li>