<h1> sign in</h1>


<form action="/user/create-session" method="POST">

    
    <input name="email" type="email" placeholder="enter email" required>
    <input name="password" type="password" placeholder="enter password" required>
    
    <button type="submit">sign in</button>
    </form>