<h1>sign up</h1>


<form action="/user/create" method="POST">

<input name="name" type="text" placeholder="enter name" required>
<input name="email" type="email" placeholder="enter email" required>
<input name="password" type="password" placeholder="enter password" required>

<button type="submit">submit</button>
</form>